@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
body {
    font-family: 'Shippori Mincho B1', serif;
}
.pagelink-div {
    position: relative;
}
.pagelink-img {
    width: 250px;
    height: auto;
}
.titles {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    font-size: 150%;
    left: 90px;
    top: 95px;
    transition: all 200ms 0s ease;
}
.visible {
    color: rgba(0, 0, 0, 1);
    font-size: 200%;
    left: 75px;
    top: 100px;
}