@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
body {
    font-family: 'Shippori Mincho B1', serif;
}
.pagelink-img {
    width: 250px;
    height: auto;
}
.titles {
    display: none;
}
.visible {
    display: inline;
}